body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

/*first line*/

.text::first-line{
    color: blue;
    font-weight: bold;
}

.text::first-letter{
    font-size: 40px;
    color: red;
}

/*before*/
    .text::before{
        content: "Note; ";
        color: green;
        font-weight: bold;
    }

    .text::after{
        content:" #";
        color:purple;
        font-weight: bold;
    }

    .text::selection{
        background-color: yellow;
        color: black;
    }